* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

#job-titles {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#portrait {
    display: flex;
    justify-content: center;  
    padding: 5px;
}

#main {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    flex-direction: row;
    width: 75%;
}

.row {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

.column {
    flex: 50%;
    background-color: rgb(50, 50, 50, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

#left-column {
    flex: 20vmax;
    flex: 30vmin;
}

#middle-column {
    flex: 120%;
}

.entry {
    margin-bottom: 1.1em;
}

#right-column {
    flex:12vmax;
    flex:25vmin;
}

#menu {
    text-align: center;
    font-size: 3em;
}

.fa, .fab {
    color: rgb(50, 50, 50, 0.5);
}

.fa:hover, .fab:hover {
    color: rgb(20, 20, 20, 0.8);
}

#copyright {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

@media screen and ( orientation: portrait ) { 
    #job-titles{
        font-size: 1em;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
        width: 100%;
    }
     h3, h4, h5, p   {
        font-size: 0.8em;
    }

    #portrait img{
       position: absolute;
       right: 0px;
       transform: scale(0.75);
    }

    .entry {
        margin-bottom: 0.1em;
        margin-right: 1em;
    }

    .skill {
        float: left;
        width: 140px;
        height: 64px;
    }

    #main { 
        flex-direction: column; 
        width: 100%;
        height: 75%;
    }

    #middle-column {
        flex-direction: column;  
    }

    #misc, #education, #experience {
        float:left;
        width: fit-content;
        margin-bottom: 1em;
    }

    #profile {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.1em;
        transform: scale(0.75);
        transform-origin: 0 0;
    }
}