* {
    margin: 0px;
    padding: 0px;
    color: white;
}

#bg-video{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    mix-blend-mode: hard-light;
    opacity: 0.25;
    
}

body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(1, 12, 41);
}

h1 {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

h2 {
    color: rgb(32, 121, 199);
}

h3 {
    color: rgb(92, 92, 92);
}

h5, a, project-link {
    color: rgb(128, 128, 128);
    font-style: italic;
}

#job-titles {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(100, 100, 100);
}

#portrait {
    display: flex;
    justify-content: center;  
    padding: 5px;
}

#main {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    flex-direction: row;
    width: 75%;
}

.row {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

.column {
    flex: 50%;
    background-color: rgb(50, 50, 50, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

#profile {
    color: rgb(170, 170, 170);
}

#left-column {
    flex: 0 0 10em;
}

#middle-column {
    flex: 120%;
}

.entry {
    margin-bottom: 1.1em;
}

#right-column {
    flex: 0 0 10em;
}

#menu {
    text-align: center;
    font-size: 3em;
}

.fa-user, .fa-briefcase, .fa-user, .fa-graduation-cap, .fa-award, .fa-book {
    color: rgb(32, 121, 199);
}

.fa, .fab {
    color: rgb(100, 100, 100);
}

.fa:hover, .fab:hover {
    color: white;
    cursor: pointer;
}

#copyright {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
    color: rgb(100, 100, 100);
}

@media screen and ( orientation: portrait ) { 
    #job-titles{
        font-size: 1em;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
        width: 100%;
    }
     h3, h4, h5, project-link, p   {
        font-size: 0.8em;
    }

    #portrait img{
       position: absolute;
       right: 0px;
       transform: scale(0.75);
    }

    .entry {
        margin-bottom: 0.1em;
        margin-right: 1em;
    }

    .skill {
        float: left;
        width: 140px;
        height: 64px;
    }

    #main { 
        flex-direction: column; 
        width: 100%;
        height: 75%;
    }

    #middle-column {
        flex-direction: column;  
    }

    #misc, #education, #experience {
        float:left;
        width: fit-content;
        margin-bottom: 1em;
    }

    #profile {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.1em;
        transform: scale(0.75);
        transform-origin: 0 0;
    }
}